.cartItem{
    padding: 20px;
    width: 100%;
    background-color: azure;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}